
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* l'élément enfant aura les propriétés du parent */
    font-family: "Poppins";
}

#container {
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins";
    background: radial-gradient(rgb(139, 195, 245),#1294b8);
    min-height: 100vh;
}

main {
    background : white;
    width: 100%;
}

/* ========================================================================================
===========================================HEADER========================================
========================================================================================= */


/* -------------------------------------nav------------------------------------------------ */

header {
    align-items: center;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

#name-site {
    font-weight: 700;
    font-size: larger;
}

#nav-links {
    text-transform: uppercase;
    font-weight: 300;
    font-size:larger ;
}


ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    cursor: pointer;
    opacity: 0.75;
}

#reseaux-header i {
    font-size:larger;
}

/* --------------------------------TEXT + FORM---------------------------- */

#header-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 120px 190px;
}

#header-text {
    flex-basis: 50%;
}

#header-illustration {
    flex-basis: 50%;
}

#header-text h2 {
    font-size: 40px;
    line-height: 1.2;
    padding-bottom: 15px;
}

#header-text p {
    font-weight: 300;
}

form {
    display: flex;
    margin: 15px;
}

input {
    border-radius: 30px;
    padding: 8px;
    border: 1px solid grey;
}

button {
    background:rgba(71, 149, 212, 0.986);
    color: #ffffff;
    border-radius: 30px;
    padding: 8px;
    border: 1px solid grey;
    text-transform: uppercase;
}

button:hover {
    background:rgba(91, 152, 202, 0.836);
}

 #header-illustration img {
    max-width: 100%;
        height: auto;
    }



    /* ========================================================================================
    =====================================PRODUCT FEATURES=====================================
    ========================================================================================= */
    
    /* --------------------------------TEXT ---------------------------- */

    
    #product-features {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 190px;
        min-height: 100vh;
        width: 100%;
    }
    
    .product-features-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px 350px 45px;
    }

    .product-features-text h3 {
        font-size: 35px;
    }
    
    .product-features-text p {
        font-weight: 400;
        color: grey;
    }
    
/* --------------------------------CARDS---------------------------- */


    #features-cards {
        display: flex;
        gap: 1em;
        padding: 0px 80px;
        justify-content: space-evenly;
    }
    
    .card {
        color: #ffffff;
        background: radial-gradient(rgb(139, 195, 245),#1294b8);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 300px;
        padding: 45px;
        transition: 0.5s;
    }
    
    .card:hover {
        transform: translateY(-20px);
    }
    
    .fa-solid {
        font-size: 45px;
        padding-bottom: 30px;
    }
    
    .card-text p {
        font-weight: 300;
        font-size: small;
    }

/* ========================================================================================
    =====================================TEAMS=====================================
    ========================================================================================= */

/* --------------------------------TEXT---------------------------- */


    #team {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 60px 190px;
        min-height: 100vh;
        
    }

    .team-text {
        text-align: center;
    }
    
    .team-text h3 {
        font-size: 30px;
        padding-bottom: 5px;
    }

    .team-text p {
        font-weight: 400;
        color: grey;
    }
    

/* --------------------------------CARDS---------------------------- */

    #team-cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10em;
    }
    
    .card-team {
        border-radius: 50%;
    }

    /* .card-team-header {
        text-align: center;
        padding-bottom: 3em;
    }

    .card-team-header p {
        font-size: small;
        font-weight: 200;
        color: grey;
    }

    
    .card-team-image img {
        max-height: 200px;
        filter: grayscale(1.1);
        border-radius: 50%;
        transition: 0.5s;
    }
    
    .card-team-pictures:hover img {
        transform: scale(1.1);
        filter: none;
    }
    
    .reseaux-team {
        display: flex;
        position: absolute;
        flex-direction: column;
    }
    
    .reseaux-team:hover {
        cursor: pointer;
    }
    
    .card-team-footer {
        text-align: center;
        padding-top: 2em;
    }

    .card-team-footer p {
        font-size: small;
        font-weight: 200;
        color: grey;
    } */

/* ========================================================================================
===========================================RESPONSIVE========================================
========================================================================================= */

@media screen and (max-width: 700px) {
    #wrapper {
        padding: 0;
    }

    #container {
        background: radial-gradient(rgb(139, 195, 245),#1294b8);
    min-height: 100vh;
    }

    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
    }

    #header-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #header-text h2 {
        font-size: 20px;
    }

   
}