
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* l'élément enfant aura les propriétés du parent */
    font-family: "Poppins";
}

#container {
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins";
    background: radial-gradient(rgb(139, 195, 245),#1294b8);
    min-height: 100vh;
}

main {
    background : white;
    width: 100%;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
}

/* ========================================================================================
===========================================HEADER========================================
========================================================================================= */


/* -------------------------------------nav------------------------------------------------ */

header {
    align-items: center;
    min-width: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

#site-name {
  font-size: 25px;
  font-weight: 800;
}

#site-name a{
    text-decoration: none;
    color: #ffffff;
}

#nav-links ul, #nav-links li, #nav-links a {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    gap: 10px;
    color: #ffffff;
}

#nav-links a:hover {
    cursor: pointer;
    opacity: 0.75;
}

#header-social {
    display: flex;
    flex-direction: row;
}

#header-social i {
    font-size:25px;
    color: #ffffff;
}

#header-social ul, #header-social li, #header-social a {
   display: flex;
   flex-direction: row;
   gap: 2rem;
   color: #ffffff;
}



/* --------------------------------TEXT + FORM---------------------------- */

#header-description-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 120px 190px;
}

#header-text {
    flex-basis: 50%;
}

#header-illustration {
    flex-basis: 50%;
}

#header-text h2 {
    font-size: 40px;
    line-height: 1.2;
    padding-bottom: 15px;
}

#header-text p {
    font-weight: 300;
}

form {
    display: flex;
    margin: 15px;
}

input {
    border-radius: 30px;
    padding: 8px;
    border: 1px solid grey;
}

button {
    background:rgba(71, 149, 212, 0.986);
    color: #ffffff;
    border-radius: 30px;
    padding: 8px;
    border: 1px solid grey;
    text-transform: uppercase;
}

button:hover {
    background:rgba(91, 152, 202, 0.836);
}

#header-illustration img {
    max-width: 100%;
    height: auto;
}


/* ========================================================================================
=====================================PRODUCT FEATURES=====================================
========================================================================================= */

/* --------------------------------TEXT ---------------------------- */


#product-features {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 190px;
    min-width: 100vh;
    width: 100%;
}

.product-features-text {
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px auto 45px;
    /* padding: 15px 350px 45px; */
}

.product-features-text h3 {
    font-size: 35px;
}

.product-features-text p {
    font-weight: 400;
    color: grey;
}

/* --------------------------------CARDS---------------------------- */


#features-cards {
    display: flex;
    gap: 1em;
    padding: 0% 5%;
    justify-content: space-evenly;
}

.features-cards-card {
    width: 350px;
    height: 350px;
    color: #ffffff;
    background: radial-gradient(rgb(139, 195, 245),#1294b8);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 300px;
    padding: 45px;
    transition: 0.5s;
}

.features-cards-card:hover {
    transform: translateY(-20px);
}

.fa-solid {
    font-size: 45px;
    padding-bottom: 30px;
}

.card-text p {
    font-weight: 300;
    font-size: small;
}

/* ========================================================================================
=====================================TEAMS=====================================
========================================================================================= */

/* --------------------------------TEXT---------------------------- */


#team {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 60px 190px;
    min-width: 100vh;
}

.team-text {
    text-align: center;
    margin-bottom: 3em;
}

.team-text h3 {
    font-size: 30px;
    margin-bottom: 0.5em;
}

.team-text p {
    font-weight: 400;
    color: grey;
}


/* --------------------------------CARDS---------------------------- */

#team-cards {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2em;
}


.team-cards-card {
    width: 20em;
    border-radius: 50%;
}

.team-card-header {
    margin-bottom: 1em;
}

.team-card-image-block {
    width: 100%;
    height: auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.team-card-image-block img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    filter: grayscale(1);
    transition: 1s;
}

.team-card-image-block:hover img{
    transform: scale(1.1);
    filter: none;
}


.team-card-social {
    position: absolute;
    top: 100px;
    left: -45px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 28px;
    transition: 1s;
}

.team-card-social i {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 8px;
}

.team-card-image-block:hover .team-card-social {
    top: 72px;
    left: 15px;
}

.team-card-social:hover {
    cursor: pointer; 
}

.team-card-footer {
    margin-top: 1em;
}

.team-card-footer h4 {
    font-weight: 450;
}

.team-card-footer p {
    font-size: small;
    font-weight: 300;
    color: grey;
}


/* ========================================================================================
=====================================PARALLAX=====================================
========================================================================================= */

#parallax-block {
    min-height: 50vh;
    min-width: 100vh;
    color: white;  
    
}

.parallax {
    width: 100%;
    background-image: url(/img/parallax.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-text {
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    /* opacity: .6; */
    min-height: 50vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parallax-text h3, .parallax-text p, .parallax-text a {
    opacity: 0.8;
}

.parallax-text h3 {
    font-weight:500;
}

.parallax-text p {
    text-align: center;
    width: 60%;
    font-weight: 200;
    margin: 15px 0px;
}

.parallax-link {
    margin-top: 25px;
}

.parallax-link a {
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px 15px;
    color: #ffffff;
    transition: 0.8s;
}

.parallax-link a:hover {
    background-color: white;
    color: rgba(10, 10, 10, 0.836);
    opacity: 1;
}

/* ========================================================================================
=====================================BLOG=====================================
========================================================================================= */

#blog {
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.blog-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 2em;
    margin: 5%;
    overflow: hidden;
}

.blog-card-header {
    position: relative;
}

.blog-card-header img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.blog-card-header-infos {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    transition: 0.5s;
    border-radius: 10px;
    opacity: 0;
    /* visibility: hidden; */
}

.blog-card-header-infos:hover {
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    opacity: 1;
    /* visibility: visible; */
}

.blog-card-user-infos {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: baseline;
    font-weight: 500;
    margin: 40px 25px 0px;
}

.blog-card-date-infos {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: baseline;
    margin-left: 25px;
}

.blog-card-footer {
    width: 90%;
}

.blog-card-footer h3 {
    font-weight: 500;
    margin: 2%  0%;
}

.blog-card-footer p {
    font-weight: 200;
}

.blog-card-footer a {
    text-decoration: none;
    color: rgb(66, 132, 219);
}




/* ========================================================================================
===========================================FOOTER========================================
========================================================================================= */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.836);
    color: #ffffff;
    font-size: small;
    font-weight: 100;
    padding: 3em;
}

.footer-social {
    display: flex;
    gap:2em;
    border: #ffffff;
}

.footer-social i {
    border: 1px solid white;
    padding: 8px;
    border-radius: 50%;
    opacity:0.5
}

.footer-links ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.footer-links ul, .footer-links li, .footer-links a {
    color: #ffffff;
}

/* ========================================================================================
===========================================RESPONSIVE========================================
========================================================================================= */

@media screen and (max-width: 700px) {
    #wrapper {
        padding: 0;
    }

    #container {
        background: radial-gradient(rgb(139, 195, 245),#1294b8);
    min-height: 100vh;
    }

    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
    }

    #header-description-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #header-text h2 {
        font-size: 20px;
    }

   
}